.content-top {
  padding: 60px 20px;
  &__title::after {
    content: "";
    background-color: #3CCACE;
    width: 70px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__list {
    display: flex;
    text-align: center;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
  }
}

.photo {
  display: flex;
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  flex-direction: column;
  align-items: center;
}

.right {
  display: flex;
  width: 30%;
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 0;
}

.number {
  margin-bottom: 20px;
  position: relative;
  span {
    background-color: #3CCACE;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4%;
    font-size: 30px;
    text-align: center;
    margin: 0 5px 0 0;
    padding: 10px 20px;
  }
}

.text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  margin: 0 0 0 2px;
}

img {
  width: 100%;
  vertical-align: bottom;
}

span {
  color: #3CCACE;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

h2 {
  font-size: 18px;
  line-height: 1.5;
  margin: 16px 0 0;
}

.content-bottom {
  background-image: url(/assets/pict/bg-topMiddleDl-pict.jpg);
  background-position: bottom;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  &__main {
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    &--text {
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
    &--btn {
      display: flex;
      a {
        margin-right: 10px;
      }
      img {
        width: 180px;
        border-radius: 8px;
      }
      img:hover {
        opacity: 0.5;
      }
    }
  }
}

h3 {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
}
