.exhibit-header {
  background-color: #f8f8f8;
  height: 128px;
  &__logo {
    height: 49px;
    width: 185px;
    margin: auto;
    padding-top: 40px;
    .header-logo {
      width: 100%;
      vertical-align: bottom;
    }
  }
}

.exhibit-box {
  background-color: #f8f8f8;
  height: auto;
  padding-bottom: 100px;
  &__main{
    margin: auto;
    max-width: 700px;
    .item-select-form {
      width: 100%;
      height: 50px;
      background-color: white;
    }
    &__image {
      background-color: white;
      padding: 40px;
      height: 80%;
      text-align: center;
      &__text {
        display: flex;
      }
      &__description {
        float: left;
        font-size: 14px;
        .image-guide {
          margin-left: 10px;
        }
      }
      &__form {
        width: 100%;
        display: flex;
        margin-top: 30px;
      }
    }
    &__content {
      background-color: white;
      padding: 40px;
      &__namebox {
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
          .form-area-name {
            width: 100%;
            padding: 15px;
            border-radius: 4px;
            border: 1px solid lightslategray;
          }
          .form-area-description {
            width: 100%;
            height: 150px;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid lightslategray;
          }
        }
      }
    }
    &__details {
      background-color: white;
      padding: 40px;
      margin-top: 2px;
      &__categorybox {
        font-size: 14px;
        font-weight: bold;
        .item-details-title {
          color: lightslategray;
          margin-left: 10px;
        }
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
        }
        #parents-category, #children-category, #grandchildren-category {
          margin-bottom: 20px;
          &:after {
            border: 2px solid rgb(255,100,100);
            outline: 0;
          }
        }
      }
      &__brandbox {
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
          .form-area-brand {
            width: 100%;
            padding: 15px;
            border-radius: 4px;
            border: 1px solid lightslategray;
          }
        }
      }
      &__statusbox {
        font-size: 14px;
        font-weight: bold;
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
        }
      }
    }
    &__delivery {
      background-color: white;
      padding: 40px;
      margin-top: 2px;
      &__chargebox {
        font-size: 14px;
        font-weight: bold;
        .item-delivery-title {
          color: lightslategray;
          margin-left: 10px;
        }
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
        }
      }
      &__originbox {
        font-size: 14px;
        font-weight: bold;
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
        }
      }
      &__sizebox {
        font-size: 14px;
        font-weight: bold;
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
        }
      }
      &__methodbox {
        font-size: 14px;
        font-weight: bold;
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
        }
      }
      &__delivery-days-box {
        font-size: 14px;
        font-weight: bold;
        &__text {
          display: flex;
        }
        &__form {
          width: 100%;
          display: flex;
        }
      }
    }
    &__under {
      background-color: white;
      padding: 40px;
      padding-bottom: 60px;
      margin-top: 2px;
      &__range {
        font-size: 14px;
        font-weight: bold;
        .price-range-title {
          color: lightslategray;
          margin: 0px 0px 35px 15px;
        }
      }
      &__input {
        display: flex;
        margin-bottom: 40px;
        .dollar-mark {
          position: absolute;
          margin:17px 0px 0px 280px;
          font-size: 13px;
          font-weight: bold;
        }
        .form-area-price {
          width: 45%;
          padding: 15px;
          border-radius: 4px;
          margin-left: 185px;
          text-align: right;
          border: 1px solid lightslategray;
        }
        .bold-text-price {
          margin: 10px 0px 0px 7px;
          font-weight: bold;
          font-size: 14px;
          padding: 10px;
        }
        .require-text-price {
          background-color: red;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          margin-top: 20px;
          width: 35px;
          height: 17px;
          line-height: 18px;
          border-radius: 2px;
          text-align: center;
        }
      }
      &__commission {
        display: flex;
        justify-content: space-between;
        .price-commission {
          font-size: 14px;
          margin-left: 19px;
        }
      }
      &__hyphen {
        border: solid 1px #efefef;
        width: 600px;
        margin: 25px 0px 25px 20px;
      }
      &__profit {
        display: flex;
        justify-content: space-between;
        .price-profit {
          font-size: 14px;
          margin-left: 19px;
        }
      }
      &__submit {
        text-align: center;
        &--exhibit-btn {
          margin: 50px 50px;
          .exhibit-btn {
            background-color: $main-color;
            color: white;
            font-weight: bold;
            font-size: 17px;
            border-radius: 4px;
            padding: 14px 140px;
            text-decoration: none;
            &:hover {
              background: #009999;
            }
          }
        }
        &--return-btn {
          margin-bottom: 50px;
          .return-btn {
            font-size: 17px;
            font-weight: bold;
            background-color: #ccc;
            color: #222;
            border-radius: 4px;
            padding: 14px 150px;
            text-decoration: none;
            &:hover {
              background: #6666;
            }
          }
        }
      }
      &__attention {
        font-size: 12px;
        margin-top: 30px;
        .attention-text {
          color: #0095ee;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
  
.bold-text {
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
}
.require-text {
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  width: 35px;
  height: 17px;
  line-height: 18px;
  border-radius: 2px;
  text-align: center;
  padding: 1px 3px;
}

.any-text {
  background-color: gray;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  width: 35px;
  height: 17px;
  line-height: 18px;
  border-radius: 2px;
  text-align: center;
}


.exhibit-footer {
  background-color: #272727;
  text-align: center;
  width: 100%;
  padding-top: 20px;
    &__text {
      .exhibit-footer-ul {
        display: flex;
        justify-content: space-around;
        width: 400px;
        margin: auto;
        padding: 30px;
        .exhibit-footer-list {
          .exhibit-footer-link {
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              opacity: 0.6;
            }
          }
        }
      }
    }
  &__logo {
    width: 100%;
    max-width: 160px;
    margin: auto;
    .footer-logo {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__appname {
    .exhibit-last {
      font-size: 12px;
      color: #fff;
      padding-bottom: 32px;
    }
  }
}

#image-box {
  width: 100%;
  height: 300px;
  background-color: lightgray;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

.top-image-form {
  width: 0.5px;
}

.form-color {
  &:focus {
    border: 2px solid $main-color;
    outline: 0;
  }
  &:hover {
    border: 2px solid $main-color;
    outline: 0;
  }
}

#previews {
  width: 600px;
  .preview-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.label-content{
  margin: 10px auto 0;
  background-color: #f2f2f2e7;
  height: 100%;
  line-height: 100px;
  text-align: center;
  border: 1px dashed #ccc;
  .label-box__text-visible {
    text-align: center;
    line-height: 8;
  }
}

.preview-box {
  margin: 10px;
  .lower-box {
    display: flex;
    justify-content: space-evenly;
    .edit-btn {
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
    }
    .delete-btn {
      cursor: pointer;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.fas.fa-camera {
  cursor: pointer;
  &:hover {
    font-size: 20px;
  }
}

#item_delivery_method_id {
  &:focus {
    outline: 0;
    border: 1px solid #3CCACE;
  }
}