.purchase-header {
  background-color: #f8f8f8;
  height: 128px;
  &__logo {
    height: 49px;
    width: 185px;
    margin: auto;
    padding-top: 40px;
    .header-logo {
      width: 100%;
      vertical-align: bottom;
    }
  }
}

.purchase-box {
  background-color: #f8f8f8;
  height: auto;
  padding-bottom: 100px;
  &__main{
    margin: auto;
    max-width: 700px;
    &__check {
      background-color: white;
      padding: 40px;
      .purchase-content {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
      }
    }

    &__item {
      background-color: white;
      padding: 40px;
      &__upbox {
        display: flex;
        max-width: 500px;
        margin: auto;
        background-color: #f8f8f8;
        padding: 30px;
        border-radius: 4px;
        &__content {
          width: 100%;
          position: relative;
          &--title {
            .purchase-item-title {
              font-size: 20px;
              font-weight: bold;
              text-align: left;
              position: relative;
              margin: 20px 0 0 20px;
            }
          }
          &--price {
            .purchase-item-price {
              position: absolute;
              margin: 90px 0 0 130px;
              font-weight: bold;
              border-bottom:solid 1px;
            }
          }
        }
        &__image {
          .purchase-image {
            width: 250px;
            margin: auto;
            display: block;
            background-color: white;
          }
        }
      }
      &__underbox {
        &__images {
          display: flex;
          max-width: 500px;
          margin: auto;
          padding: 30px;
          overflow-x: scroll;
          background-color: #f8f8f8;
          border-radius: 4px;
          &--list {
            .purchase-img-list {
              width: 130px;
              height: 100%;
              justify-content: center;
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }

    &__confirmation {
      background-color: white;
      padding: 40px;
      &__box {
        background-color: #f8f8f8;
        padding: 40px;
        max-width: 500px;
        border-radius: 4px;
        .purchase-item-price {
          border-bottom: solid 2px $main-color;
          font-weight: bold;
          width: 100%;
          margin-bottom: 20px;
          text-align: left;
        }
      }
    }
    &__registration-payment {
      background-color: white;
      padding: 40px;
      &__box {
        background-color: #f8f8f8;
        padding: 40px;
        max-width: 500px;
        border-radius: 4px;
        .payment-message {
          border-bottom: solid 2px $main-color;
          font-weight: bold;
          width: 100%;
          margin-bottom: 20px;
          .payment-description {
            text-align: left;
          }
        }
      }
    }
    &__registration-address {
      background-color: white;
      padding: 40px;
      &__box {
        background-color: #f8f8f8;
        max-width: 500px;
        padding: 40px;
        border-radius: 4px;
        .delivery-address {
          border-bottom: solid 2px $main-color;
          font-weight: bold;
          width: 100%;
          margin-bottom: 20px;
          .delivery-address-box {
            text-align: left;
          }
        }
      }
    }
    &__submit {
      background-color: white;
      padding: 40px;
      text-align: center;
    }
  }
}

.purchase-btn {
  background-color: $main-color;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 4px;
  padding: 14px 140px;
  text-decoration: none;
  &:hover {
    background-color: #009999;
  }
}


.purchase-footer {
  background-color: #272727;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  &__text {
    &__box {
      .purchase-footer-ul {
        display: flex;
        justify-content: space-around;
        width: 400px;
        margin: auto;
        padding: 30px;
        .purchase-footer-list {
          .purchase-footer-link {
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  &__logo {
    width: 100%;
    max-width: 160px;
    margin: auto;
    .footer-logo {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__appname {
    .purchase-last {
      font-size: 12px;
      color: #fff;
      padding-bottom: 32px;
    }
  }
}