%section.section-first
  .container
    .container__title
      %h2 人生を変えるフリマアプリ
    %p.container__description
      FURIMAはだれでもかんたんに出品・購入できる
      %br/
      フリマアプリです
    .container__transition
      = link_to "/" do
        = image_tag asset_path('icon/app-store.svg'), width: "100%", height: "100%", class: "store-icon app-store"
      = link_to "/" do
        = image_tag asset_path('icon/google-play.svg'), height: '100%', width: '100%', class: "store-icon google-play"