.section-sixth
  .section-sixth__content
 
    .section-sixth__content__title
      %h3 だれでもかんたん、人生を変えるフリマアプリ
    .section-sixth__content__text
      %p 今すぐ無料ダウンロード！
    .section-sixth__content__icon
      = link_to image_tag asset_path('/assets/icon/app-store.svg'), class: "store-icon app-store"
      = link_to image_tag asset_path('/assets/icon/google-play.svg'), class: "store-icon google-play"
 