c
-# 上の要素
.upper-box
  .upbox.up 
    FURIMAの特徴
  .small-line
  .dwbox.down
    コンテンツ




-# 下の要素

.lower-box
  .upbox
    ピックアップカテゴリー
  .pickup-category
  .dwbox.dwbox2
    コンテンツ１
  .upbox
    ピックアップブラインド
  
  .dwbox.dwbox3
    コンテンツ２