// これは主要なmixin設定用ファイルです
@mixin width-height ($width: 100%, $height: 100%){
  width: $width;
  height: $height;
}

@mixin padding-margin ($padding: 0, $margin: 0){
  padding: $padding;
  margin: $margin;
}

@mixin flex-center ($align-items: none) {
  align-items: $align-items;
  display: flex;
  justify-content: center;
}

@mixin flex-between ($align-items: none) {
  align-items: $align-items;
  display: flex;
  justify-content: space-between;
}

@mixin flex-around ($align-items: none) {
  align-items: $align-items;
  display: flex;
  justify-content: space-around;
}

@mixin flex-start ($align-items: none) {
  align-items: $align-items;
  display: flex;
  justify-content: flex-start;
}

@mixin flex-end ($align-items: none) {
  align-items: $align-items;
  display: flex;
  justify-content: flex-end;
}

@mixin flex-box ($juscon: none) {
  justify-content: $juscon;
  display: flex;
}

@mixin text-center ($line-height: 0px) {
  line-height: $line-height;
  text-align: center;
}

.focus:focus {
  outline: 0;
  border: 2px solid $main-color;
}

